.pickupDropContent {
  width: 100%;
  margin-top: var(--gap-md);
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.pickupDropContent h3 {
  font-weight: 400;
}

.stoppageHeader {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 4px;
}

.deleteButton {
  background: transparent;
  border: none;
  cursor: pointer;
}

.routeContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}

.pickUpBlock,
.dropBlock {
  background-color: var(--background-clr);
  padding: var(--gap-md);
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  overflow-x: auto;
  width: 100%;
}

.pickUpBlock h4,
.dropBlock h4 {
  font-weight: 400;
}

.routeFrom {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
  padding: var(--gap-size);
  height: 100%;
  /* border: 1px solid #000;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; */
  width: 240px;
}

.routeTime {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
  padding: var(--gap-size);
  height: 100%;
  /* border: 1px solid #000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; */
  width: 200px;
}

.routeFlexContainer {
  display: flex;
  align-items: center;
  height: 80px;
  border: 1px solid #000;
  border-radius: 10px;
}

.routeImgBlock img {
  filter: brightness(0);
}

.content h4 {
  font-weight: 500;
}

.pickupTitle {
  color: var(--color-bg-btn);
}

.dropTitle {
  color: var(--route-bg);
}

.routesStoppage {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
}

.middleImage {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
}

.middleImage span {
  display: inline-block;
  width: 20px;
  height: 0;
  border-bottom: 2px dashed #0000007a;
}

.contentBlock {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}

.time {
  color: var(--color-grey);
}

h4.cityName {
  font-weight: 500;
}

h4.clock {
  font-weight: 500;
}

.content input {
  width: 100%;
  background: none;
  color: var(--color-bg-btn);
  font-weight: 500;
  font-size: 20px;
  border: none;
  outline: none;
  font-family: var(--font-primary);
}

.contentBlock input {
  width: 100%;
  background: none;
  font-weight: 500;
  font-size: 20px;
  border: none;
  outline: none;
  font-family: var(--font-primary);
}

.routesStoppage {
  display: flex;
  align-items: center;
  gap: 20px;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: var(--gap-md);
}
.stoppageContainer {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
}

.stoppageBlock {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
}

.middleImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addStopButton {
  background: none;
  border: 1px solid var(--color-bg-btn);
  padding: var(--gap-md);
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  color: var(--color-bg-btn);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timePicker {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
}

.periodDropdown {
  font-weight: 500;
  font-size: 20px;
  border: none;
  outline: none;
  font-family: var(--font-primary);
  border: none;
  background: none;
  cursor: pointer;
}

span.line {
  display: block;
  width: 0.5px;
  height: 100%;
  border: 0.5px solid #000;
}
