.progressContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 20px; */
}

.step {
  width: clamp(24px, 2vw, 34px);
  height: clamp(24px, 2vw, 34px);
  border-radius: 50%;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(16px, 1vw, 18px);
  font-weight: bold;
  color: white;
}

.line {
  width: clamp(80px, 8vw, 145px);
  height: 2px;
  background-color: #d9d9d9;
  margin: 0 5px;
}

.completed {
  background-color: #2d6a4f !important;
  color: white !important;
}

@media screen and (max-width: 1500px) {
}
