.card {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #2066470f;
  border: 1px solid #2d6a4f;
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuContainer {
  position: absolute;
  top: 10px;
  right: 10px;
}

.menuButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 15px;
}

.hamburger span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #333;
}

.dropdownMenu {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100px;
  z-index: 10;
  text-align: center;
}

.menuItem {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
}

.menuItem:hover {
  background-color: #f5f5f5;
}

.menuDivider {
  height: 1px;
  background-color: #e0e0e0;
  margin: 0;
}

.branchName {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-size);
  height: 100%;
}

.cardContainer {
  display: flex;
  gap: var(--gap-size);
}
