.layout {
  min-height: 100vh;
  overflow: hidden;
  margin-top: 10px !important;
}

.main {
  padding: 2rem;
  margin-top: calc(75px + (123 - 75) * ((100vw - 576px) / (1920 - 576)));
  margin-left: 80px;
  transition: margin-left 0.3s ease;
  height: calc(100vh - (75px + (123 - 75) * ((100vw - 576px) / (1920 - 576))));
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
}

.main.shifted {
  margin-left: 350px;
}

.mainContentArea {
  display: flex;
  gap: 30px;
  width: 100%;
}

@media (max-width: 1024px) {
  .main {
    margin-left: 0;
  }

  .main.shifted {
    margin-left: 0;
  }
}
