.transactionHistoryContainer .mainHeading h5 {
  font-family: var(--font-secondary);
  font-weight: 500;
}

.mainHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}

.searchFilterContainer {
  width: 100%;
  max-width: 283px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  border: 1px solid #00000080;
  border-radius: 10px;
  padding: 10px;
  background: white;
}

.searchInput {
  flex: 1;
  border: none;
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-primary);
  outline: none;
}

.searchInput::-webkit-search-cancel-button {
  display: none;
  -webkit-appearance: none;
}

.searchIcon {
  display: flex;
  align-items: center;
  gap: 13px;
}

.line {
  width: 0.57px;
  height: 27.5px;
  background: #00000080;
}

.searchIcon img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.transactionContainer {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.transactionTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.transactionTableWrapper {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  display: block;
}

.transactionTable {
  width: 100%;
  min-width: 600px;
  border-collapse: separate;
  border-spacing: 10px;
  margin-bottom: 15px;
}

.transactionTable th,
.transactionTable td {
  text-align: left;
  color: #3a3f46;
  white-space: nowrap;
}

.transactionTable th {
  font-weight: 500;
  padding-bottom: 30px;
}

.transactionTable td {
  padding-bottom: 30px;
}

.transactionTable tr:last-child td {
  padding-bottom: 0;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  /* display: none; */
}

.paginationButton {
  padding: 8px 12px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.paginationButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.paginationInfo {
  font-size: 16px;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .mainHeading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-bottom: 20px;
  }
  .searchFilterContainer {
    max-width: 100%;
  }
  .transactionTableWrapper {
    overflow-x: auto;
  }

  .transactionTable {
    min-width: 600px;
  }
}

@media screen and (max-width: 768px) {
  .transactionContainer {
    padding: 0 10px;
  }

  .transactionTitle {
    font-size: 20px;
  }

  .transactionTableWrapper {
    max-width: 350px;
  }

  .transactionTable th,
  .transactionTable td {
    padding: 10px 15px;
  }
}

@media screen and (max-width: 500px) {
  .transactionTableWrapper {
    max-width: 250px;
  }
}
