.container--box {
  width: var(--container-width) !important;
  margin: 0 auto;
  position: relative;
}

.section-padding {
  margin: 100px 0;
}

.active {
  background-color: var(--active-bg);
  box-shadow: 0px 2px 2px 0px #00000040;
  position: relative;
}

.active::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 100%;
  background-color: var(--color-bg-btn);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  left: 0;
  top: 0;
}

.active::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #dae9e2e6 transparent transparent;
  top: 50%;
  right: -15px; /* Moves it outside the sidebar */
  transform: translateY(-50%) rotate(180deg);
  z-index: 300; /* Higher than sidebar */
  pointer-events: none; /* Avoid unwanted interactions */
  clip-path: inset(0 -20px 0 0);
}

.common-dashboard {
  background-color: #fff;
  width: 100%;
  margin-top: 8px;
  /* padding: 40px; */
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-width: 1350px) {
  .section-padding {
    margin: 70px 0;
  }
}

@media (max-width: 1024px) {
  .section-padding {
    margin: 50px 0;
  }
}
