.addBusGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-large);
}

.busInfoFlexBox {
  display: flex;
  flex-direction: column;
  gap: var(--gap-size);
}

.butonForward {
  display: flex;
  justify-content: end;
}

@media screen and (max-width: 1450px) {
  .addBusGrid {
    /* grid-template-columns: 100%; */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 1024px) {
  .addBusGrid {
    grid-template-columns: 100%;
  }
}
